<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.blxt.mbaseactivity">

    <application>
        <activity
            android:name=".WellComeActivity"
            android:label="@string/title_activity_well_come"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>